$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

$transparent-white: hsla(0, 0%, 100%, 0.75); //(paragraphs)
$very-light-gray: hsl(0, 0%, 95%); //(background, headings, buttons)
$font-heading: "Big Shoulders Display", cursive;
$font-body: "Lexend Deca", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $very-light-gray;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  font-family: $font-body;
  font-weight: 400;

}
.cards-container {
  display: flex;
  margin: 5rem auto;
  justify-content: center;
  @media (max-width: 775px) {
    flex-direction: column;
    margin-top: 5rem;
  }
  .card {
    min-width: 250px;
    height: 60vh;
    max-height: 500px;
    width: 20vw;
    max-width: 300px;
    color: $transparent-white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    @media (max-width: 775px) {
      width: 300px !important;
    }
    &-name {
      font-family: $font-heading;
      font-size: 1.6rem;
      color: $very-light-gray;
      margin: 1.5rem 0;
    }
    &-description{
      margin-bottom: auto;
    }
    &-btn {
      font-family: inherit;
      background-color: $very-light-gray;
      border: none;
      justify-self: flex-end;
      padding: 12px 25px;
      border-radius: 30px;
      border: 2px solid $transparent-white;
      transition: background-color 300ms ease-out;
      cursor: pointer;
      &:hover{
        background-color: transparent;
        color: $transparent-white !important;
      }
    }
    &-1 {
      background-color: $bright-orange;
      border-radius: 10px 0 0 10px;
      .card-btn {
        color: $bright-orange;
      }
      @media (max-width: 775px) {
        border-radius: 10px 10px 0 0;
      }
    }
    &-2 {
      background-color: $dark-cyan;
      .card-btn {
        color: $dark-cyan;
      }
    }
    &-3 {
      background-color: $very-dark-cyan;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      .card-btn {
        color: $very-dark-cyan;
      }
      @media (max-width: 775px) {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.attribution{

  a{
    text-decoration: none;
    color: $bright-orange;
    padding: 2px 5px;
    transition: all 100ms ease-in-out;
    border-radius: 10px;
    &:hover{
      background-color: $bright-orange;
      color: $very-light-gray;
    }
  }
}